/*palata
adobe colors color theme_1\\u043F\\u043D\\u0433
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-image: linear-gradient(to right,#f3efe5,#e9dfc7);
    background-attachment: fixed;
    font-family:"lato";
}
main{
    background-color: white;
    background-attachment: fixed;
    width: 810px;
    margin: auto;border-radius: 10px;
    box-shadow: 5px 5px 5px #b9b6ae;
    padding: 10px;

}
h1{
    font-size: 1.9em;
    color:#AF9C7C; 
    text-align: center;
}
h2{
    color: #cebea3;
    font-size: 1.5em;
}
p{
    text-indent: 2em;
    color: black;
    text-align: justify;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
