@charset "UTF-8";
@font-face{
    font-family: "idroid";
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}
body{
    margin: 0px;
    background-color: #84E1AD;
    font-family: Arial, Helvetica,sans-serif;
}

header{
    background-image:linear-gradient(to bottom,#3CD781,#1A5C38);
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}
header > p{
    text-align: center;
}

header>nav{
    text-align: left;
}

nav>a{
    margin: 20px 30px 0px 0px;
    color: white;
    text-decoration: none;
}

main{
    padding: 10px;
    background-color: white;
    margin: auto;
    width: 850px;
    border-radius: 0px 0px 15px 15px;
}

section>h1{
    font-family: "idroid",sans-serif;
    color: #236340;
}
section > h2{
    font-family: "idroid",sans-serif;
    color: #236340;
    background-color: rgba(157, 216, 182, 0.37);
}

img{
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
    color: #328d5b;
}
iframe{
    display: block;
    width: 700px;
    margin: auto;
}
p{
    text-align: justify;
    text-indent: 30px;
}
#title{
    display: block;
    margin: 0px;
    padding: 10px;
    color: white;
    background-color: #328d5b;
    border-radius: 10px 10px 0px 0px;
}
div > h5{
    display: inline;
    margin: 0px;
}

#sabermais{
    display: block;
    padding: 10px;
    margin: 0px;
    background-color: #84e1ac8c;
    border-radius: 0px 0px 10px 10px;
}
section > div{
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 20px 120px 20px -15px;
}
footer{
    margin-top: 20px;
    background-color: #236340;
    color: white;
    padding: 20px;
    text-align: center;
}